<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<script>
    window.initJsScript = '{{ init_js_script }}';
</script>

<div id="content">
    {% block content %}{% endblock %}
</div>

{% for js_src in base_js %}
    <script src="{{ url_for('static', filename=js_src) }}"></script>
{% endfor %}

</body>
</html>