{% extends 'base.html' %}

{% block title %}Верификация{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">

    <style>
        .w-60 {
            width: 60% !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="header-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">FaceNet</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/">Главная</a>
                        <a class="nav-link" href="/identification">Идентификация</a>
                        <a class="nav-link active" href="/verification">Верификация</a>
                        <a class="nav-link" href="#">Возможности</a>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    <div class="container" id="verification-container">
        <h1 class="my-4 text-center">Верификация лиц</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 box-shadow" id="meow">
                    <canvas class="card-img-top face-canvas face-canvas--left" width="538" height="403"></canvas>
                    <div class="card-body">
                        <div class="form-inline d-flex justify-content-between">
                            <input class="form-control form-control-sm w-60 image-url image-url--left" type="text"
                                   placeholder="URL-адрес изображения">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="open-left-image-url">
                                Отправить <span
                                    class="oi oi-cloud-upload"></span></button>
                            <label class="btn btn-outline-secondary btn-sm ml-3">
                                Обзор <input type="file" id="open-left-image" hidden>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <canvas class="card-img-top face-canvas face-canvas--right" width="538" height="403"></canvas>
                    <div class="card-body">
                        <div class="form-inline d-flex justify-content-between">
                            <input class="form-control form-control-sm w-60 image-url image-url--right" type="text"
                                   placeholder="URL-адрес изображения">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="open-right-image-url">
                                Отправить <span
                                    class="oi oi-cloud-upload"></span></button>
                            <label class="btn btn-outline-secondary btn-sm ml-3">
                                Обзор <input type="file" id="open-right-image" hidden>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-secondary" style="min-height: 50px;" role="alert" id="result">
                    {#                    Результат проверки: <strong>оба портрета принадлежат одному человеку</strong>.#}
                    {#                    Расстояние дескрипторов — <strong>0.7349</strong>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}