{% extends 'base.html' %}

{% block title %}Верификация{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">

    <style>
        .w-60 {
            width: 60% !important;
        }
    </style>

    <script>
        function openImage(canvasId) {
            return function (e) {
                const canvas = $(`#${canvasId}`).get(0);
                const ctx = canvas.getContext('2d');
                const file = e.target.files[0];
                let src = URL.createObjectURL(file);
                const img = new Image();
                img.src = src;
                img.addEventListener('load', function () {
                    const imgWidth = this.naturalWidth;
                    const imgHeight = this.naturalHeight;

                    const maxWidth = canvas.width;
                    const maxHeight = canvas.height;

                    let ratio = 1;
                    let x = 0, y = 0;
                    if (imgWidth > maxWidth) {
                        ratio = maxWidth / imgWidth;
                    }
                    if (imgHeight > maxHeight) {
                        ratio = Math.min(maxHeight / imgHeight, ratio);
                    }

                    const resizedImgWidth = imgWidth * ratio;
                    const resizedImgHeight = imgHeight * ratio;

                    if (resizedImgWidth < maxWidth) {
                        x = (maxWidth - resizedImgWidth) / 2
                    }

                    ctx.lineWidth = 3;
                    ctx.strokeStyle = '#cc0099';
                    ctx.fillStyle = "#e2e3e5";

                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.fillRect(0, 0, canvas.width, canvas.height);
                    ctx.drawImage(this, x, y, resizedImgWidth, resizedImgHeight);

                    URL.revokeObjectURL(src);
                    sendImage(file, ctx, ratio, [x, y]);
                });
            }
        }

        function drawFaceRectangles(canvasContext, faces) {
            for ([x, y, w, h] of faces) {
                canvasContext.strokeRect(x, y, w, h);
            }
        }

        function sendImage(imageFile, canvasContext, ratio, offset) {
            const data = new FormData();
            data.append('image', imageFile);
            $.ajax({
                url: 'verification',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                success: function (data) {
                    drawFaceRectangles(canvasContext, data['faces'].map(function (x) {
                        return [x[0] * ratio + offset[0], x[1] * ratio + offset[1], x[2] * ratio, x[3] * ratio]
                    }))
                }
            });
        }

        $(function () {
            $('#open-left-image').on('change', openImage('face-left-canvas'));
            $('#open-right-image').on('change', openImage('face-right-canvas'));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="header-container">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">FaceNet</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/">Главная</a>
                        <a class="nav-link" href="/identification">Идентификация</a>
                        <a class="nav-link active" href="/verification">Верификация</a>
                        <a class="nav-link" href="#">Возможности</a>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <h1 class="my-4 text-center">Верификация лиц</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 box-shadow" id="meow">
                    <canvas class="card-img-top" id="face-left-canvas" width="538" height="403"></canvas>
                    <div class="card-body">
                        <div class="form-inline d-flex justify-content-between">
                            <input class="form-control form-control-sm w-60" type="text"
                                   placeholder="URL-адрес изображения">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="send-img">Отправить <span
                                    class="oi oi-cloud-upload"></span></button>
                            <label class="btn btn-outline-secondary btn-sm ml-3">
                                Обзор <input type="file" id="open-left-image" hidden>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <canvas class="card-img-top" id="face-right-canvas" width="538" height="403"></canvas>
                    <div class="card-body">
                        <div class="form-inline d-flex justify-content-between">
                            <input class="form-control form-control-sm w-60" type="text"
                                   placeholder="URL-адрес изображения">
                            <button type="button" class="btn btn-outline-primary btn-sm">Отправить <span
                                    class="oi oi-cloud-upload"></span></button>
                            <label class="btn btn-outline-secondary btn-sm ml-3">
                                Обзор <input type="file" id="open-right-image" hidden>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-secondary" role="alert">
                    Результаты проверки: оба портрета принадлежат одному человеку.
                    Достоверность — <strong>0.7349</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}